@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

.wrapper {
  max-width: 1008px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.wrapLeft {
  background: #ececf9;
  max-width: 243px;
  width: 100%;
  padding: 33px 23px 0 24px;
}
.wrapRight {
  background: #fefeff;
}
.wrapBtn {
  display: flex;
}
.buttonLeft,
.buttonRight {
  width: 98px;
  height: 36px;
  background-color: #ffffff;
  font-size: 14px;
  margin-bottom: 45px;
  &:hover,
  &:active {
    background: #9a91c8;
    color: #ffffff;
  }
  &.activeBtn{
    color: #ffffff;
    background: #21268f;
  }
}
.subtitle,
.subtitleSlid {
  @include text(16px, 600, 19px, #2d2e46);
  margin-bottom: 20px;
}
.subtitleSlid {
  margin-bottom: 20px;
}
.title {
  @include text(22px, 600, 33px, #2d2e46);
  margin-bottom: 15px;
}
.wrapForm {
  margin-bottom: 5px;  // раздвинул инпуты можно убрать
}

.wrapRight {
  padding: 24px 48px 28px;
}
.input {
  background: #ececf9;
  opacity: 0.5;
  border: 1px solid #635d80;
  box-sizing: border-box;
  border-radius: 2px;
  width: 460px;
  height: 36px;
  padding-left: 40px;
}
.button {
  background: $accentColor;
  width: 184px;
  height: 36px;
  background: #21268f;
  box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  @include text(16, 500, 19px, #ffffff);
  margin-left: 24px;
  &:hover {
    background: #43447b;
  }
}
.table {
  margin-top: 24px;
}
.wrapBottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
}
.wrapSelect {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.textBottom {
  @include text(12px, 400, 14px, #2d2e46);
  font-family: Lato;
  padding: 0 5px 0 5px;
}
.select {
  padding: 3px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.select__pag {
  height: 30px;  // высота селекта
}