@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.BtnLeft,
.BtnRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 60px;
  &:hover {
    background: #dcccdb;
    border-bottom: solid 3px $accentColor;
  }
}
.wrapBtn {
  display: flex;
}
.container {
  max-width: 1008px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.iconPacks {
  margin-right: 9px;
}
.iconProfile {
  margin-right: 18px;
}
.content {
  height: 100vh;
  background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
}
.header {
  background: #ebe0e9;
  height: 60px;
}
.logo {
  @include text(26px, 600, 39px, #2d2e46);
  margin-right: 168px;
}
