@import "./../../../../styles/vars.scss";
@import "./../../../../styles/mixins.scss";

.wrapBtn {
  display: flex;
}
.wrapper {
  display: flex;
}
.btnRed {
  background: #f1453d;
  width: 48px;
  margin-right: 6px;
  @include text(12px, 400, 16px, #ffffff);
}
.btnEdit {
  width: 33px;
  margin-right: 6px;
}
.btnLern {
  width: 44px;
}
.btnLern,
.btnEdit {
  @include text(12px, 400, 16px, $accentColor);
  background: #d7d8ef;
}

.btnRed,
.btnEdit,
.btnLern {
  border-radius: 2px;
  height: 24px;
}
