.tableHead {
  background: #ececf9;
  height: 48px;
}
.tableBody {
  padding: 16;
}

.arrow {
  width: 8px;
  height: 13px;
  position: relative;
  top: 2px;
  left: 0px;
}


.displayNone {
  display: none;

}


.img {
  margin-right: 14px;
  width: 8px;
  height: 13px;
  position: relative;
  top: 2px;
  left: 0px;
}