.main {
  margin: 20px 0px 20px 0px;
}

h2 {
  text-align: center;
  margin-bottom: 20px !important;
}

.control__inp {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  margin-bottom: 20px;

  div {
    margin-right: 5px;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  margin: 0 auto 20px auto;
}

video {

}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}


.button {
  background: #21268f;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}


.footer {
  display: flex;
  justify-content: center;
}

.duration_value {
  margin: 0px 10px;
}

.current_time_value{
  margin: 0px 10px;
}