.tableHead {
  background: #ececf9;
  height: 48px;
}
.tableBody {
  //padding: 16px;
}
.arrow {
  width: 8px;
  height: 13px;
  position: relative;
  top: 2px;
  left: 0px;
}

.wrapper {
  position: relative;
}
