.superInputParent {
    display: flex;
    flex-direction: column;
}
.superInputParent input {
    max-width: 300px;
}

.superInput {
    font-family: inherit;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    border-bottom: 2px solid #979797;
    outline: 0;
    font-size: 1.3rem;
    color: #1c1c1c;
    padding: 7px;
    margin-bottom: 10px;
    background: transparent;
    transition: border-color 0.5s;
}

.superInput::placeholder {
    color: darkgrey;
}

.errorInput {
    border-bottom: 2px solid #f44336;
}

.error {
    max-width: 180px;
    color: #f44336;
    font-size: 1rem;
    border: 1px solid #f44336;
    border-radius: 3px;
    padding: 8px;
    position: relative;
    margin: 0 30px 8px;
    align-self: flex-end;
    opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
    animation: show .5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    word-wrap: break-word;
}

@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.error::before, .error::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 30%;
    border: 10px solid transparent;
    border-bottom: 10px solid #f44336;
}

.error::after {
    border-bottom: 10px solid white;
    top: -19px;
}
