@import "../../../../assets/styles/vars.scss";
@import "../../../../assets/styles/mixins.scss";

.wrapper {
  max-width: 1008px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;

}

.wrapLeft {
  background: #ececf9;
  max-width: 243px;
  width: 100%;
}

.wrapSlider {
  padding: 17px 23px 0 24px;
}

.wrapRight {
  background: #fefeff;
  position: relative;
}

.wrapPerson {
  background: #d9d9f1;
  border-radius: 8px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapForm {
  margin-bottom: 5px;
}

.img {
  margin-top: 24px;
  margin-bottom: 4px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.subtitleSlid {
  @include text(16px, 600, 19px, #2d2e46);
  margin-bottom: 20px;
}

.subtitleSlid {
  margin-bottom: 40px;
}

.title {
  @include text(22px, 600, 33px, #2d2e46);
  margin-bottom: 15px;
}

.subtitle {
  @include text(18px, 600, 27px, #2d2e46);
  margin-bottom: 4px;
}

.wrapRight {
  padding: 24px 48px 28px;
}

.text {
  @include text(14px, 600, 17px, #2d2e46);
  opacity: 0.5;
  margin-bottom: 44px;
}

.input {
  background: #ececf9;
  opacity: 0.5;
  border: 1px solid #635d80;
  box-sizing: border-box;
  border-radius: 2px;
  //width: 700px;
  height: 36px;
  padding-left: 40px;
  width: 460px;
}

.button {
  background: $accentColor;
  width: 184px;
  height: 36px;
  background: #21268f;
  box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35),
  inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  @include text(16, 500, 19px, #ffffff);
  margin-left: 24px;

  &:hover {
    background: #43447b;
  }
}

.table {
  margin-top: 24px;
}

.wrapBottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
}

.wrapSelect {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.textBottom {
  @include text(12px, 400, 14px, #2d2e46);
  font-family: Lato;
  padding: 0 5px 0 5px;
}

.select {
  padding: 3px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
